.game-ui {
    position: fixed;
    top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    font-weight: bold;
    z-index: 10;
}

.click-heart {
    position: absolute;
    cursor: pointer;
    animation: pulse 1.2s infinite ease-in-out alternate;
    transition: transform 0.2s;
    filter: drop-shadow(0 0 10px #ff4d6d);
}
@keyframes pulse {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.15);
    }
}


.click-heart:hover {
    transform: scale(1.2);
}

@keyframes pop {
    from { transform: scale(0); }
    to { transform: scale(1); }
}
#gameScreen {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.heart-pop {
    animation: explode 0.3s ease forwards;
}

@keyframes explode {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(1.5);
        filter: drop-shadow(0 0 20px #ff4d6d);
    }
    100% {
        transform: scale(0);
        opacity: 0;
    }
}

